@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic-ext");

$grey-color: #3b3b3b;

* {
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: $grey-color;
}

body {
    // margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-height: 1100px;
    
    overflow: hidden;
    justify-content: center;
    // padding: 50px;
    // height: 100vh;
}

.container {
    // display: flex;
    // flex-direction: column;
    width: 100%;
    max-width: 430px;
    // max-width: 800px;
    // justify-content: center;
    overflow: overlay;
    margin-bottom: 30px;
    padding-bottom: 50px;
}

b {
    font-weight: 400;
}

.hide {
    display: none !important;
}

.half-opacity,
.temp-user {
    opacity: 0.3;
    filter: grayscale(1);

}

.half-opacity {
    pointer-events: none;
}

button,
button:active,
button:focus {
    outline: none;
}



.header {
    width: 90%;
    max-width: 340px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    * {
        margin: 0;
    }

    .top-back-button,
    .personal-block {
        width: 70px;
        text-align: center;
    }

    .top-back-button img {
        height: 20px;
    }

    .logo img {
        height: 45px;
    }

    .personal-block {
        // min-width: 70px;
        width: fit-content;
        display: inline-flex;
        justify-content: flex-end;
        // flex-direction: column;

        a {
            width: 100%;
            height: 100%;
            text-decoration: none;
        }

        img {
            height: 23px;
            margin: auto 5px;
            opacity: 0.7;
        }

        // .basket span{
        //     // line-height: 2;
        //     margin-top: 5px;
        // }

        #basket-icon-summ {
            font-weight: 400;
            font-size: 9px;
            color: #252424;
            background: #ffcc00;
            padding: 2px 5px;
            border-radius: 8px;
margin-top: 1px;
height: 10px;
        }
    }
}

.back {
    text-align: center;
    width: 100px;
    height: 25px;
    opacity: 0.7;
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;

    img {
        width: 8px;
    }
}

.top-back {
    display: none;
}

.modal {
    margin: 0px auto 30px;

    // padding: 20px 20px;
    background-color: #ffcc00;
    width: 90%;


    animation-name: open;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 3s;

    p {
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        margin: 15px;

        img {
            width: 15px;
            margin-right: 5px;
        }
    }


}

@keyframes open {
    0% {}

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        height: 0;
        margin: 0 auto;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    // .modal {
    //     width: 250px;
    //     padding: 10px 20px;
    //     margin-bottom: 15px;
    // }

    .super-modal * {
        font-size: 13px;
    }

    .super-modal {
        background-color: rgba(255, 255, 255, 0.9) !important;
    }

    // .half-opacity :not(#general-additional-button-save) {
    //     opacity: 0;
    // }

    .modal-block {
        padding: 20px !important;
    }
}

// @media screen and (max-height: 560px) {
//     body {
//         overflow: scroll;
//         height: auto;
//         margin: 20px 0;
//     }
// }