* {
    outline: none;
}

.top-back {
    display: block !important;
    margin: 10px 0 0 25px;
    width: 14px;
    opacity: 0.6;
    position: absolute;
}

.back {
    display: none !important;
}

.basket-block {
    display: flex;
    margin-top: 15px;
    border: 1px solid #ffcc00;
    width: 450px;
    height: 150px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.preview {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}

.empty {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    margin-top: 30px;
}

.params {
    width: 150px;
    font-size: 12px;

    h3 {
        font-weight: 400;
        font-size: 16px;
    }

    ul {
        margin-top: 10px;
        // margin-left: 10px;
    }

    li {
        list-style: none;
        margin-top: 4px;

        font-weight: 300;

        span {
            font-weight: 400;
        }
    }
}

.price {
    width: 70px;
    text-align: center;

    span {
        font-weight: 400;
        font-size: 20px;
    }

    button {
        margin-top: 10px;
        padding: 0px 8px;
        font-size: 12px;
        font-weight: 300;
        cursor: pointer;
    }
}

form {
    width: 450px;
    margin-top: 20px;
    // text-align: center;

    * {
        font-weight: 300;
    }

    h3 {
        margin: 30px 0 10px;
        font-size: 22px;
        text-align: center;
    }

    .delivery-block {
        width: 330px;
        margin: 30px auto;

        input {
            display: none;
        }

        label::before {
            margin-right: 10px;
            padding: 1px 10px;
            border-radius: 20px;
            border: 1px solid gray;
            width: 300px;
            content: " ";
        }

        input:checked + label::before {
            background-color: #ffcc00;
            padding: 1px 4px;
            content: "\2713";
        }
    }

    .form-center-block {
        margin-top: 50px;
        text-align: center;

        input,
        label {
            display: block;
        }

        label {
            margin: 25px auto 10px;
        }

        input {
            width: 320px;
            padding: 10px;
            text-align: center;
        }
    }

    .form-block {
        margin: 17px auto;
    }

    .all-price {
        padding: 10px 70px;
        background-color: #ffcc00;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        outline: none;
        
        span {
            font-size: 20px;
            font-weight: 400;
        }
        
        p  {
            font-size: 16px;
        }
    }

    .alert {
        color: red;
    }
}
