
body {
    // justify-content: start !important;
}

.container {
    max-width: 800px !important;
    height: 100%;
    // height: 100% !important;
    // flex-direction: column;
    // overflow: hidden !important;
    display: flex !important;
    padding-bottom: 0 !important;
    margin-bottom: 10px !important;
}

.header {
    //     // display: flex !important;
    //     // width: 100% !important;
    //     // height: 60px !important;
    //     // align-items: center;
    // margin: 20px auto;
}

.top-back {
    display: block !important;
    margin: 0 0 0 25px;
    width: 14px;
    opacity: 0.6;
}

.gallery-block {

    --element-background: #f9f9f9;

    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: overlay;
;
    .gallery {
        #imgLoad {
            width: 100%;
            height: 100%;
        }

        display: grid;
        width: 100%;
        // max-height: 100%;
        height: fit-content;
        grid-template-columns: repeat(7, 1fr);
        overflow: overlay;

        .image-box {
            cursor: pointer;
            padding-bottom: 100%;
            height: 0;
            background-size: cover;
            background-position: center;
            background-color: rgb(243, 243, 243);
            margin: 1px;
        }

        .fake-empty-block {
            background: url(/images/empty.svg) center no-repeat;
            padding-bottom: 100%;
            height: 0;
            margin: 1px;
            background-color: var(--element-background);
        }

        form {
            width: 100%;
            height: 100%;

            background-color: blue;
        }

        label {
            cursor: pointer;
            padding-bottom: 100%;
            height: 0;
            background-size: cover;
            // background-size: 75px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #ffcc00ce; //var(--element-background);
            margin: 1px;
        }

        label:active {
            opacity: 0.3;
        }

        .img-count {
            width: 25px;
            height: 25px;
            border-radius: 15px;
            margin-top: 100%;
            margin-left: 100%;
            transform: translate(-32px, -32px);
            background-color: #ffcc00;
            font-size: 13px;
            font-weight: 400;
            text-align: center;
            line-height: 2;
        }

        .img-select {
            cursor: pointer;
            padding-bottom: 100%;
            height: 0;
            background-image: url(/images/check.png);
            background-repeat: no-repeat;
            background-position: center;
        }

        .img-alert {
            cursor: pointer;
            padding-bottom: 100%;
            height: 0;
            background-image: url(/images/alert.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 25px;
        }
    }

    .controls {
        width: 100%;
        // margin-bottom: 20px;
    // bottom: 0;
        height: fit-content;
        // padding: 20px 0 30px;
        // background-color: rgb(238, 235, 235);

        .active-button {
            background-color: #ffcc00;
        }

        form {
            display: flex;
            height: 100%;
            align-items: flex-end;
        }

        .inactive {
            opacity: 0.3;
            transition: 0.3s ease-in-out;
        }

        .active {
            opacity: 1;
            transition: 0.3s ease-in-out;
        }
    }
}

.info {
    transform: translateY(14px);
    width: 16px;
    height: 16px;
    margin-left: -20px;
    cursor: pointer;
}

.general-params-block,
.general-additional-params-block {
    width: 300px;
    margin-top: 10px;

    * {
        font-size: 14px;
    }

    p {
        font-size: 13px;
        text-align: center;
        margin-bottom: 5px;
        font-weight: 300;
    }

    .reset-all-button {
        text-align: center;
        margin-top: 15px;

        button {
            width: 209px;
            height: 30px;
            // border: 1px solid #80808063;
            background: transparent;
            padding: 4px 0;
            // border-radius: 3px;
            // border: 1px solid #ffcc00;
            border: 1px solid rgb(190, 189, 189);
            font-weight: 300;
            cursor: pointer;
        }
    }

    .buttons {
        text-align: center;
        margin-top: 5px;

        button {
            // border: 1px solid #ffcc00;
            border: 1px solid rgb(190, 189, 189);
            // border-radius: 3px;
            width: 100px;
            height: 30px;
            background: transparent;
            font-weight: 300;
            margin: 0 3px;
            cursor: pointer;
        }

        button:active {
            opacity: 0.3;
            outline: none;
        }
    }
}

#general-additional-button-cancel>img {
    width: 7px;
    margin-right: 7px;
}

.general-count-block {
    font-size: 17px;
    display: flex;
    width: 180px;
    align-items: center;

    * {
        font-weight: 300;
    }
}

.param-block {
    margin-bottom: 5px;
    display: flex;

    * {
        font-size: 14px;
    }

    .param {
        width: 100%;
        text-align: center;
        font-weight: 300;
    }

    // .button {
    //     border: none;
    //     outline: none;
    //     background-color: transparent;
    //     cursor: pointer;
    //     font-weight: 300;
    //     font-size: 14px;
    //     padding-bottom: 3px;
    //     border-bottom: 1px solid rgb(190, 189, 189);
    // }
    // .button:active {
    //     opacity: 0.3;
    // }

    // button::before {
    //     content: "✓";
    //     margin-right: 8px;
    //     background-color: #ffcc00;
    //     padding: 2px 5px;
    //     border-radius: 3px;
    // }

    
}

.param-check-block {
    display: flex;
    margin-top: 10px;
    justify-content: center;

    * {
        user-select: none;
    }

    .param-check {
        font-weight: 300;
        text-align: center;
        font-size: 14px;
        margin: 0 3px;
    }

    input {
        position: absolute;
        left: -9999px;
    }

    label {
        // border: 1px solid #ffcc00;
        // border: 1px solid rgb(190, 189, 189);
        display: block;
        width: 135px;
        height: 30px;
        border-radius: 3px;
        cursor: pointer;
        line-height: 2;
    }

    label::before {
        font-size: 12px;
        color: rgba(160, 160, 160, 0);
        margin-right: 5px;
        content: "\2713";
        border: 1px solid grey;
        padding: 1px 3px;
        border-radius: 4px;
        // background-color: #ffcc00;
        transition: 0.3s ease-in-out;
    }

    span {
        font-weight: 300;
    }

    input:checked+label::before {
        content: "\2713";
        color: rgb(114, 113, 113);
        transition: 0.3s ease-in-out;
    }
}

.text-for-box>textarea {
    width: 278px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    // border: 1px solid #ffcc00;
    border: 1px solid rgb(190, 189, 189);
    background-color: transparent;
    outline: none;
}

.group-change-button {
    margin-bottom: 25px;
    button {
        font-size: 14px;
    width: 250px;
    height: 30px;
    line-height: 0;
    }
}

.param-check-block {
    margin-top: 20px;
    
}

.to-order-block {
    text-align: center;
    display: flex;
    flex-direction: column;

    .price-block,
    span {
        font-weight: 400;
        font-size: 24px;
    }

    .price-description-block {
        font-weight: 300;
        font-size: 12px;
        text-align: center;
        margin: 10px auto;
    }

    button {
        // font-size: 14px;
        // font-weight: 300;
        // cursor: pointer;
        // outline: none;
        // border: none;
        // width: 160px;
        // height: 40;
        // background-color: #ffcc00;
        // margin-top: 20px;
        // border-radius: 3px;

        img {
            width: 18px;
            opacity: 0.7;
            position: relative;
            top: 2px;
        }
    }

    button:active {
        opacity: 0.6;
    }
}

.back {
    display: none !important;
}

$switch-buttion-high: 15px;

.switch-button {
    position: relative;
    top: 50%;
    width: $switch-buttion-high * 5;
    height: $switch-buttion-high;
    margin: 3px 5px 0 5px;
    overflow: hidden;
    border-radius: 100px;

    * {
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    .knobs,
    .layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 100px;
    }

    .checkbox {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }

    .knobs {
        z-index: 2;
    }

    .layer {
        border: 1px solid rgba(160, 160, 160, 0.699);
        transition: 0.3s ease all;
        z-index: 1;
    }

    .knobs {
        position: absolute;
        top: 0px;
        left: -$switch-buttion-high;
        width: $switch-buttion-high + 1px;
        height: $switch-buttion-high;
        color: #fff;
        background-color: #ffcc00;
        border-radius: 50%;
        transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    }

    .checkbox:checked+.knobs {
        left: $switch-buttion-high;
    }
}

.dropPlus {
    width: 100%;
    position: absolute;
    background: #ffffffed;
    pointer-events: none;

    img {
        margin-left: 50%;
        // margin-top: 50%;
        transform: translate(-32px, -25px);
        width: 50px;
        opacity: 0.7;
        transition: 1s linear all;
    }
}

.drop-no-visibility {
    opacity: 0;
    transition: 0.3s linear all;
}

.drop-visibility {
    opacity: 1;
    transition: 0.5s linear all;
}




// @media screen and (max-height: 500px) {
//     .container {

//     margin-bottom: 0 !important;
//     padding-bottom: 0 !important;
//     }

//     .header {
//         // height: 40px !important;
//         // margin-top: 30px !important;
//         height: initial !important;
//         margin: 30px 10px 10px 10px !important;
//     }


//     .logo img {
//         height: 35px !important;
//     }


//     .param-check-block {
//         margin-top: 0px;
//     }

//     .general-params-block *,
//     .general-additional-params-block * {
//         font-size: 12px;
//     }

//     .group-change-button {
//         margin-bottom: 0;
//     }

//     // .price-description-block {
//     //     order: 3;
//     // }

//     .gallery-block .gallery label {
//         background-size: 70px;
//     }

//     .gallery-block .gallery .fake-empty-block {
//         background-size: 90px;
//     }

//     .basket-button-price-block {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         width: 260px;
//         // order: 3;
//     }

    

//     .to-order-block button {
//         margin-top: 0;
//     }


//     .info {
//         transform: translateY(47px);
//         margin-left: 0;
//     }

//     .gallery-block .controls {
//         margin-bottom: 20px;
//     }

// }

@media screen and (max-width: 768px) {

    .container {
        width: 100vw !important;
    // margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0px !important;
    }

    .header {
        // height: 40px !important;
        // margin: 10px !important;
        // margin-top: 5px !important;
        // margin-top: 20px !important;

        // margin: 30px 10px 10px 10px !important;
    }

    // .gallery-block .controls {
    //     min-height: 234px;
    // }

    .param-block {
        margin-bottom: 10px;
    }

    .switch-button {
        width: 100px;
        height: 22px;
        margin: 0;
    }

    .switch-button .knobs {
        left: -21px;
        width: 21px;
        height: 22px;
    }

    .switch-button .checkbox:checked + .knobs {
        left: 21px;
    }

    .gallery-block .gallery {
        grid-template-columns: repeat(6, 1fr);
        overflow: overlay !important;

    }

    .gallery-block .controls form {
           flex-direction: column;
    }

    .param-check-block {
        margin-top: 0px;
    }

    .general-params-block *,
    .general-additional-params-block * {
        font-size: 16px !important;
    }

    .group-change-button {
        margin-bottom: 0;
    }

    // .price-description-block {
    //     order: 3;
    // }

    .gallery-block .gallery label {
        background-size: 70px;
    }

    .gallery-block .gallery .fake-empty-block {
        background-size: 90px;
    }

    .basket-button-price-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 260px;
        margin-top: 10px;
        // order: 3;
    }

    

    .to-order-block button {
        margin-top: 0;
    }


    .info {
        // transform: translateY(47px);
        margin-left: -10px;
        width: 23px;
    }


}