@media screen and (min-height: 768px) {
    body {
        overflow: auto !important;
        height: auto !important;
    }
}

.personal {
    display: flex;
    margin-top: 20px;
    width: 90%;
    border: 1px solid #ffcc00;
    border-radius: 10px;
}

.contact {

    display: flex;
    // margin-top: 15px;

    // width: 450px;
    width: 100%;
    padding: 40px 10px;

    justify-content: space-around;
    align-items: center;

    .personal-block {
        text-align: center;
        

        .personal-info {
            text-align: left;
        }
    }

    svg {
        width: 30px;
    }

    p {
        font-size: 14px;
    }

    h3 {
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 22px;
    }
}

.links {
    width: 100%;
    margin-top: 20px;
    font-size: 13px;

    a {
        margin-right: 5px;
    }
}

.order-block {
    width: 320px;
}

.order {
    // margin: 10px auto;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    // border: 1px solid grey;
    padding: 20px 0px;

    * {
        margin: 0;
    }

    .num {
        // width: 20px;
        font-size: 12px;

        .id {
            font-size: 14px;
            margin-bottom: 5px;
        }
    }

    .goods {
        font-size: 12px;
        width: 200px;

        li {
            list-style: none;
            margin-bottom: 3px;
        }
    }

    .cost {
        font-size: 18px;
        font-weight: 400;
        text-align: center;

        div {
            margin-bottom: 4px;
        }

        span {
            opacity: 0.5;
        }

        a,
        .pay-button {
            border: none;
            cursor: pointer;
            font-size: 14px;
            text-decoration: none;
            background-color: #FFCC00;
            padding: 2px 10px;
        }
    }


}



.status {
    margin-top: 10px;
    font-weight: 300;
}

.wait {
    color: green;
}

.wait:after {
    content: "В очереди на печать";
}

.print {
    color: green;
}

.print:after {
    content: "В печати";
}

.ready {
    color: green;
}

.ready::after {
    content: "Готов к выдачи";
}


.shiped {
    color: green;
}

.shiped::after {
    content: "Отправлен";
}

.finished {
    color: orange;
}

.finished::after {
    content: "Завершен";
}



.closed {
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .contact {
        width: 250px;

        svg {
            width: 20px;
        }
    }

    // .personal {
    //     margin: 20px 10px 0 10px;
    // }

    .order {
        font-size: 12px;
        padding: 10px;
    }

    .goods {
        font-size: 11px;
    }

    .cost {
        width: 90px;
        font-size: 16px;

        a {
            font-size: 12px;
        }
    }
}