.hide {
    display: none;
}

.super-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 4;

    * {
        font-weight: 300;
    }
}

.modal-block {
    width: fit-content;
    padding: 40px;
    max-width: 600px; //80%;
    position: relative;
    // top: 50%;
    // margin-top: -200px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.466);
    background-color: white;
    transition: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .super-model-buttons {
        display: flex;
        button {
            margin: 10px 5px 0 5px;
            width: 120px;
    //         padding: 0 10px;
    // min-width: 120px;
            height: 30px;
            border-radius: 3px;
            background-color: #ffcc00;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 300;
        }
    }
}

#file-data-text {
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    span {
        font-size: 12px;
        font-weight: 100;
    }

    img {
        width: 17px;
    transform: translate(-6px, 4px);
    }
}

.super-modal-message {
    margin-bottom: 20px;
    text-align: center;
}

.close-modal-button {
    margin-top: -25px;
    margin-right: -25px;
    margin-bottom: 5px;
    button {
        background: transparent;
        // font-size: 21    px;
        outline: none;
        cursor: pointer;
        border: none;
    }
}

.modal-img-block {
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.count-block {
    // margin-top: 20px;
    font-size: 17px;
    display: flex;
    width: 180px;
    align-items: center;

    * {
        font-weight: 300;
    }
}

.image-change-count {
    button {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #ffcc00;
        background: transparent;
        font-size: 21px;
        outline: none;
        cursor: pointer;
    }

    button:active {
        opacity: 0.5;
    }
}

// loader

.modal-cssload-wrap {
    width: 180px;
    height: 150px !important;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -moz-flex;
    box-pack: center;
    -o-box-pack: center;
    -ms-box-pack: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    box-align: center;
    -o-box-align: center;
    -ms-box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    perspective: 220px;
    -o-perspective: 220px;
    -ms-perspective: 220px;
    -webkit-perspective: 220px;
    -moz-perspective: 220px;
    height: 100%;
    overflow: hidden;
}

.cssload-cssload-spinner {
    position: relative;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    animation: cssload-wobble 6.38s ease-in-out infinite;
    -o-animation: cssload-wobble 6.38s ease-in-out infinite;
    -ms-animation: cssload-wobble 6.38s ease-in-out infinite;
    -webkit-animation: cssload-wobble 6.38s ease-in-out infinite;
    -moz-animation: cssload-wobble 6.38s ease-in-out infinite;
}
.cssload-cssload-spinner:before,
.cssload-cssload-spinner:after {
    display: block;
    content: "";
    width: 49px;
    height: 49px;
    border: 25px solid;
    border-radius: 50%;
    animation: cssload-spin 2.4s ease-in-out infinite both reverse;
    -o-animation: cssload-spin 2.4s ease-in-out infinite both reverse;
    -ms-animation: cssload-spin 2.4s ease-in-out infinite both reverse;
    -webkit-animation: cssload-spin 2.4s ease-in-out infinite both reverse;
    -moz-animation: cssload-spin 2.4s ease-in-out infinite both reverse;
}
.cssload-cssload-spinner:before {
    border-color: rgb(221, 221, 221);
    position: absolute;
}
.cssload-cssload-spinner:after {
    border-color: black;
    animation-delay: -1.2s;
    -o-animation-delay: -1.2s;
    -ms-animation-delay: -1.2s;
    -webkit-animation-delay: -1.2s;
    -moz-animation-delay: -1.2s;
}

@keyframes cssload-wobble {
    0%,
    100% {
        transform: rotateX(8.75deg) rotateY(35deg);
    }
    50% {
        transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
    }
}

@-o-keyframes cssload-wobble {
    0%,
    100% {
        -o-transform: rotateX(8.75deg) rotateY(35deg);
    }
    50% {
        -o-transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
    }
}

@-ms-keyframes cssload-wobble {
    0%,
    100% {
        -ms-transform: rotateX(8.75deg) rotateY(35deg);
    }
    50% {
        -ms-transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
    }
}

@-webkit-keyframes cssload-wobble {
    0%,
    100% {
        -webkit-transform: rotateX(8.75deg) rotateY(35deg);
    }
    50% {
        -webkit-transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
    }
}

@-moz-keyframes cssload-wobble {
    0%,
    100% {
        -moz-transform: rotateX(8.75deg) rotateY(35deg);
    }
    50% {
        -moz-transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
    }
}

@keyframes cssload-spin {
    0%,
    100% {
        transform: translateZ(27px) rotateX(14deg);
    }
    33% {
        transform: translateZ(-27px) scale(0.4);
    }
    66% {
        transform: translateZ(-27px);
    }
}

@-o-keyframes cssload-spin {
    0%,
    100% {
        -o-transform: translateZ(27px) rotateX(14deg);
    }
    33% {
        -o-transform: translateZ(-27px) scale(0.4);
    }
    66% {
        -o-transform: translateZ(-27px);
    }
}

@-ms-keyframes cssload-spin {
    0%,
    100% {
        -ms-transform: translateZ(27px) rotateX(14deg);
    }
    33% {
        -ms-transform: translateZ(-27px) scale(0.4);
    }
    66% {
        -ms-transform: translateZ(-27px);
    }
}

@-webkit-keyframes cssload-spin {
    0%,
    100% {
        -webkit-transform: translateZ(27px) rotateX(14deg);
    }
    33% {
        -webkit-transform: translateZ(-27px) scale(0.4);
    }
    66% {
        -webkit-transform: translateZ(-27px);
    }
}

@-moz-keyframes cssload-spin {
    0%,
    100% {
        -moz-transform: translateZ(27px) rotateX(14deg);
    }
    33% {
        -moz-transform: translateZ(-27px) scale(0.4);
    }
    66% {
        -moz-transform: translateZ(-27px);
    }
}
