.promo-video-block {
    width: 45%;
}

video {
    width: 100%;
    filter: opacity(0.7);
}

.button-block {
    display: flex;
    margin-top: 40px;

    a {
        margin: 0 7px;
    }
}


.big-button {
    border: 1px solid #BEBBBB;
    border-radius: 12px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    div {
        padding: 5px;
    }

    p {
        font-size: 14px;
        font-weight: 300;
        margin-top: 8px;
    }

    svg {
        height: 32px;
    }
}

a.big-button {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .promo-video-block {
        width: 90%;
    }

    .big-button {
        width: 85px;
        height: 85px;

        p {
            font-size: 12px;
            // margin-top: 8px;
        }
    }
}