body, .container {
    overflow: hidden !important;
}



.promo-video-block {
    // width: 330px;
    // width: 100%;
    margin: 20px 0 35px;
    margin-top: 0;
    // width: 320px;

    video {
        width: 100%;
        filter: opacity(0.9);
    }
}

@media screen and (max-width: 768px) {
.header {
    margin-top: 5px !important;
    margin-bottom: 15px !important;
}    
.promo-video-block {
    margin: 20px 0 15px;
    margin-top: 0;
}
}

@media screen and (max-heght: 665x) {
    .promo-video-block {
        width: 300px;
        height: auto;
        margin: 10px auto;
    }
    }
