.container {
  max-width: 600px !important;
  margin-bottom: 60px !important;
}

.textblock {
  margin: 10px auto;
  width: 100%;
}

.textblock img {
  width: 100%;
}

.textblock p,
.textblock h3 {
  margin: 20px;
}

.textblock h3 {
  text-align: center;
}

.textblock li,
.textblock p.mini {
  font-size: 13px;
}

.textblock li {
  margin-left: 30px;
  list-style: none;
}

.contacts {
  text-align: center;
}

.contacts img {
  opacity: 0.7;
}

.contacts a {
  text-decoration: none;
  font-size: 16px;
}

.contacts a.tel {
  font-size: 26px;
  margin: 40px;
}

.contacts a.tel img {
  width: 20px;
}

.contacts .adress-block {
  display: flex;
  text-align: left;
  text-align: center;
  width: 380px;
}

.contacts .adress-block div {
  width: 100px;
}

.contacts .adress-block div a {
  font-size: 13px;
}

.contacts .adress-block div img {
  width: 40px;
  margin-bottom: 10px;
}

.button {
  padding: 5px;
  width: 130px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid grey;
  cursor: pointer;
  text-decoration: none;
}

.back {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

