@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic-ext);* {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #3b3b3b;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-height: 1100px;
  overflow: hidden;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 430px;
  overflow: overlay;
  margin-bottom: 30px;
  padding-bottom: 50px;
}

b {
  font-weight: 500 !important;
}

.button {
  padding: 10px 40px;
  border-radius: 0 !important;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #b4b4b4;
  cursor: pointer;
  text-decoration: none;
}

.yellow-background {
  border: none !important;
  background-color: #FFCC00 !important;
}

.hide {
  display: none !important;
}

.half-opacity,
.temp-user {
  opacity: 0.3;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.half-opacity {
  pointer-events: none;
}

button,
button:active,
button:focus {
  outline: none;
}

.header {
  width: 90%;
  max-width: 340px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.header * {
  margin: 0;
}

.header .top-back-button,
.header .personal-block {
  width: 70px;
  text-align: center;
}

.header .top-back-button img {
  height: 20px;
}

.header .logo img {
  height: 50px;
}

.header .personal-block {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-flex;
  justify-content: flex-end;
}

.header .personal-block a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.header .personal-block img {
  height: 23px;
  margin: auto 5px;
  opacity: 0.7;
}

.header .personal-block #basket-icon-summ {
  font-weight: 400;
  font-size: 9px;
  color: #252424;
  background: #ffcc00;
  padding: 2px 5px;
  border-radius: 8px;
  margin-top: 1px;
  height: 10px;
}

.top-back {
  display: none;
}

.modal {
  margin: 0px auto 30px;
  padding: 10px;
  background-color: #ffcc00;
  -webkit-animation-name: open;
          animation-name: open;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.modal p {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin: 15px;
}

.modal p img {
  width: 15px;
  margin-right: 5px;
}

@-webkit-keyframes open {
  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    height: 0;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }
}

@keyframes open {
  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    height: 0;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  body {
    position: absolute;
    top: 0;
    left: 0;
  }

  .modal-hide {
    display: none;
  }

  .super-modal * {
    font-size: 13px;
  }

  .super-modal {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }

  .close-modal-button {
    margin-top: -12px !important;
    margin-right: -8px !important;
  }

  .modal-block {
    padding: 20px !important;
  }
}

