@charset "UTF-8";

@media screen and (min-height: 768px) {
  body {
    overflow: auto !important;
    height: auto !important;
  }
}

* {
  outline: none;
}

.top-back {
  display: block !important;
  margin: 10px 0 0 25px;
  width: 14px;
  opacity: 0.6;
  position: absolute;
}

.back {
  display: none !important;
}

.basket-block {
  display: flex;
  margin-top: 15px;
  border: 1px solid #ffcc00;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.preview {
  margin: 10px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.empty {
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 1px solid #cacaca;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.params {
  font-size: 12px;
}

.params h3 {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
}

.params ul {
  margin-top: 10px;
}

.params li {
  list-style: none;
  margin-top: 2px;
  font-weight: 300;
}

.params li span {
  font-weight: 400;
}

.price {
  text-align: center;
}

.price span {
  font-weight: 400;
  font-size: 20px;
}

.price button {
  margin-top: 10px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
}

form {
  width: 100%;
  margin-top: 20px;
}

form * {
  font-weight: 300;
}

form h3 {
  margin: 30px 0 10px;
  font-size: 20px;
  text-align: center;
}

form .delivery-block {
  width: 330px;
  margin: 20px auto;
}

form .delivery-block input {
  display: none;
}

form .delivery-block label {
  width: 100%;
}

form .delivery-block label::before {
  margin-right: 10px;
  padding: 1px 9px;
  border-radius: 20px;
  border: 1px solid gray;
  width: 300px;
  height: auto;
  white-space: pre;
  content: " ";
}

form .delivery-block input:checked + label::before {
  background-color: #ffcc00;
  padding: 1px 3px;
  content: "\2713";
}

form .form-center-block {
  margin-top: 50px;
  text-align: center;
}

form .form-center-block input,
form .form-center-block label {
  display: block;
}

form .form-center-block label {
  margin: 15px auto 10px;
  font-size: 14px;
  color: grey;
}

form .form-center-block label.alert {
  color: red;
}

form .form-center-block input {
  width: 345px;
  padding: 15px 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  border: none;
  background-color: #f5f4f4;
  border-radius: 2px;
}

form .form-block {
  margin: 10px auto;
}

form .all-price {
  padding: 10px 70px;
  background-color: #ffcc00;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

form .all-price span {
  font-size: 20px;
  font-weight: 400;
}

form .all-price p {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .basket-block {
    width: 90%;
  }
}

