.button-block {
  display: flex;
  justify-content: center;
}

.big-button {
  margin: 0 7px;
  border: 1px solid #bebbbb;
  border-radius: 12px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.big-button div {
  padding: 5px;
}

.big-button p {
  font-size: 13px;
  font-weight: 300;
  margin-top: 8px;
}

.big-button svg {
  height: 32px;
}

a.big-button {
  text-decoration: none;
}

