@charset "UTF-8";

.container {
  max-width: 800px !important;
  display: flex !important;
}

.header {
  margin: 20px auto;
}

.top-back {
  display: block !important;
  margin: 0 0 0 25px;
  width: 14px;
  opacity: 0.6;
}

.gallery-block {
  --element-background: #f9f9f9;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: overlay;
}

.gallery-block .gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  overflow: overlay;
}

.gallery-block .gallery #imgLoad {
  width: 100%;
  height: 100%;
}

.gallery-block .gallery .image-box {
  cursor: pointer;
  padding-bottom: 100%;
  height: 0;
  background-size: cover;
  background-position: center;
  background-color: #f3f3f3;
  margin: 1px;
}

.gallery-block .gallery .fake-empty-block {
  background: url(/images/empty.svg) center no-repeat;
  padding-bottom: 100%;
  height: 0;
  margin: 1px;
  background-color: var(--element-background);
}

.gallery-block .gallery form {
  width: 100%;
  height: 100%;
  background-color: blue;
}

.gallery-block .gallery label {
  cursor: pointer;
  padding-bottom: 100%;
  height: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffcc00ce;
  margin: 1px;
}

.gallery-block .gallery label:active {
  opacity: 0.3;
}

.gallery-block .gallery .img-count {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  margin-top: 100%;
  margin-left: 100%;
  transform: translate(-32px, -32px);
  background-color: #ffcc00;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  line-height: 2;
}

.gallery-block .gallery .img-select {
  cursor: pointer;
  padding-bottom: 100%;
  height: 0;
  background-image: url(/images/check.png);
  background-repeat: no-repeat;
  background-position: center;
}

.gallery-block .gallery .img-alert {
  cursor: pointer;
  padding-bottom: 100%;
  height: 0;
  background-image: url(/images/alert.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.gallery-block .controls {
  width: 100%;
  margin-bottom: 40px;
}

.gallery-block .controls .active-button {
  background-color: #ffcc00;
}

.gallery-block .controls form {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.gallery-block .controls .inactive {
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.gallery-block .controls .active {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.info {
  transform: translateY(14px);
  width: 16px;
  height: 16px;
  margin-left: -20px;
  cursor: pointer;
}

.general-params-block,
.general-additional-params-block {
  width: 300px;
  margin-top: 10px;
}

.general-params-block *,
.general-additional-params-block * {
  font-size: 14px;
}

.general-params-block p,
.general-additional-params-block p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 300;
}

.general-params-block .reset-all-button,
.general-additional-params-block .reset-all-button {
  text-align: center;
  margin-top: 15px;
}

.general-params-block .reset-all-button button,
.general-additional-params-block .reset-all-button button {
  width: 209px;
  height: 30px;
  background: transparent;
  padding: 4px 0;
  border-radius: 3px;
  border: 1px solid #bebdbd;
  font-weight: 300;
  cursor: pointer;
}

.general-params-block .buttons,
.general-additional-params-block .buttons {
  text-align: center;
  margin-top: 5px;
}

.general-params-block .buttons button,
.general-additional-params-block .buttons button {
  border: 1px solid #bebdbd;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  background: transparent;
  font-weight: 300;
  margin: 0 3px;
  cursor: pointer;
}

.general-params-block .buttons button:active,
.general-additional-params-block .buttons button:active {
  opacity: 0.3;
  outline: none;
}

#general-additional-button-cancel > img {
  width: 7px;
  margin-right: 7px;
}

.general-count-block {
  font-size: 17px;
  display: flex;
  width: 180px;
  align-items: center;
}

.general-count-block * {
  font-weight: 300;
}

.param-block {
  margin-bottom: 5px;
  display: flex;
}

.param-block * {
  font-size: 14px;
}

.param-block .param {
  width: 100%;
  text-align: center;
  font-weight: 300;
}

.param-block button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 3px;
  border-bottom: 1px solid #bebdbd;
}

.param-block button:active {
  opacity: 0.3;
}

.param-check-block {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.param-check-block * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.param-check-block .param-check {
  font-weight: 300;
  text-align: center;
  font-size: 14px;
  margin: 0 3px;
}

.param-check-block input {
  position: absolute;
  left: -9999px;
}

.param-check-block label {
  display: block;
  width: 135px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  line-height: 2;
}

.param-check-block label::before {
  font-size: 12px;
  color: rgba(160, 160, 160, 0);
  margin-right: 5px;
  content: "\2713";
  border: 1px solid grey;
  padding: 1px 3px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.param-check-block span {
  font-weight: 300;
}

.param-check-block input:checked + label::before {
  content: "\2713";
  color: #727171;
  transition: 0.3s ease-in-out;
}

.text-for-box > textarea {
  width: 278px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  border: 1px solid #bebdbd;
  background-color: transparent;
  outline: none;
}

.group-change-button {
  margin-bottom: 25px;
}

.param-check-block {
  margin-top: 20px;
}

.to-order-block {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.to-order-block .price-block,
.to-order-block span {
  font-weight: 400;
  font-size: 24px;
}

.to-order-block .price-description-block {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  margin: 10px auto;
}

.to-order-block button {
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  outline: none;
  border: none;
  width: 160px;
  height: 40;
  background-color: #ffcc00;
  margin-top: 20px;
  border-radius: 3px;
}

.to-order-block button img {
  width: 18px;
  opacity: 0.7;
  position: relative;
  top: 2px;
}

.to-order-block button:active {
  opacity: 0.6;
}

.back {
  display: none !important;
}

.button {
  position: relative;
  top: 50%;
  width: 75px;
  height: 15px;
  margin: 3px 5px 0 5px;
  overflow: hidden;
  border-radius: 100px;
}

.button * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.button .knobs,
.button .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
}

.button .checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.button .knobs {
  z-index: 2;
}

.button .layer {
  border: 1px solid rgba(160, 160, 160, 0.699);
  transition: 0.3s ease all;
  z-index: 1;
}

.button .knobs {
  position: absolute;
  top: 0px;
  left: -15px;
  width: 16px;
  height: 15px;
  color: #fff;
  background-color: #ffcc00;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.button .checkbox:checked + .knobs {
  left: 15px;
}

.dropPlus {
  width: 100%;
  position: absolute;
  background: #ffffffed;
  pointer-events: none;
}

.dropPlus img {
  margin-left: 50%;
  transform: translate(-32px, -25px);
  width: 50px;
  opacity: 0.7;
  transition: 1s linear all;
}

.drop-no-visibility {
  opacity: 0;
  transition: 0.3s linear all;
}

.drop-visibility {
  opacity: 1;
  transition: 0.5s linear all;
}

@media screen and (max-width: 768px) and (min-height: 500px) {
  body {
    justify-content: flex-start !important;
    height: -webkit-min-content !important;
    height: -moz-min-content !important;
    height: min-content !important;
  }

  .container {
    width: 100vw !important;
  }

  .header {
    margin: 30px 10px 10px 10px !important;
  }

  .logo img {
    height: 35px !important;
  }

  .gallery-block .gallery {
    grid-template-columns: repeat(6, 1fr);
    overflow: overlay !important;
  }

  .gallery-block .controls form {
    flex-direction: column;
  }

  .param-check-block {
    margin-top: 0px;
  }

  .general-params-block *,
  .general-additional-params-block * {
    font-size: 12px;
  }

  .group-change-button {
    margin-bottom: 0;
  }

  .gallery-block .gallery label {
    background-size: 70px;
  }

  .gallery-block .gallery .fake-empty-block {
    background-size: 90px;
  }

  .basket-button-price-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 260px;
  }

  .to-order-block button {
    margin-top: 0;
  }

  .info {
    transform: translateY(47px);
    margin-left: 0;
  }
}

