.container {
  height: 100% !important;
  max-width: 800px !important;
}

.hide {
  display: none !important;
}

.header {
  display: flex !important;
  width: 100% !important;
  height: 60px !important;
  align-items: center;
  margin: 10px auto !important;
}

.top-back {
  display: block !important;
  margin: 0 0 0 25px;
  width: 14px;
  opacity: 0.6;
}

.gallery-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: overlay;
}

.gallery-block .gallery {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  overflow: overlay;
}

.gallery-block .gallery a {
  width: 100%;
  height: 100%;
}

.gallery-block .gallery .image-box {
  padding-bottom: 100%;
  height: 0;
  background-size: cover;
  background-position: center;
  background-color: #f3f3f3;
  margin: 1px;
}

.gallery-block .controls {
  width: 100%;
  height: 200px;
  background-color: #eeebeb;
}

.gallery-block .controls form {
  display: flex;
  height: 100%;
  align-items: center;
}

.gallery-block .controls .inactive {
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.gallery-block .controls .active {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.param-block {
  margin-bottom: 5px;
  display: flex;
}

.param-block .param {
  width: 100%;
  text-align: center;
  font-weight: 300;
}

.param-check-block {
  display: flex;
  margin-top: 10px;
}

.param-check-block * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.param-check-block .param-check {
  font-weight: 300;
  text-align: center;
  font-size: 14px;
}

.param-check-block input {
  position: absolute;
  left: -9999px;
}

.param-check-block label {
  border: 1px solid #ffcc00;
  display: block;
  width: 130px;
  height: 18px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 300;
}

.param-check-block input:not(:checked) + label {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}

.param-check-block input:checked + label {
  opacity: 1;
  background-color: #ffcc00;
  transition: 0.3s ease-in-out;
}

.text-for-box > input {
  width: 100%;
  margin: 12px 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ffcc00;
  background-color: transparent;
  outline: none;
}

.to-order-block .price-block,
.to-order-block span {
  font-weight: 400;
  font-size: 24px;
}

.to-order-block .price-description-block {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
}

.to-order-block button {
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  outline: none;
  border: none;
  width: 140px;
  height: 70px;
  background-color: #ffcc00;
  margin-bottom: 10px;
  border-radius: 3px;
}

.to-order-block button img {
  width: 18px;
  opacity: 0.7;
  position: relative;
  top: 2px;
}

.to-order-block button:active {
  opacity: 0.6;
}

.back {
  display: none !important;
}

.button {
  position: relative;
  top: 50%;
  width: 75px;
  height: 15px;
  margin: 3px 5px 0 5px;
  overflow: hidden;
  border-radius: 100px;
}

.button * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.button .knobs,
.button .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
}

.button .checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.button .knobs {
  z-index: 2;
}

.button .layer {
  border: 1px solid rgba(160, 160, 160, 0.699);
  transition: 0.3s ease all;
  z-index: 1;
}

.button .knobs {
  position: absolute;
  top: 0px;
  left: -15px;
  width: 16px;
  height: 15px;
  color: #fff;
  background-color: #ffcc00;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.button .checkbox:checked + .knobs {
  left: 15px;
}

@media screen and (orientation: landscape) and (max-height: 550px) {
  .gallery-block {
    flex-direction: row;
  }

  .controls {
    width: 400px;
    height: 100%;
  }
}

@media screen and (max-height: 568px) {
  body {
    margin: 5px 0 !important;
    height: auto !important;
  }

  .header {
    height: 30px !important;
    margin: 5px auto !important;
  }

  .header .basket {
    width: 20px;
  }

  .header .top-back {
    width: 8px;
  }
}

@media screen and (min-height: 1060px) {
  .container {
    height: 85% !important;
  }
}

@media screen and (max-width: 568px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr) !important;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

