body {
  overflow: hidden;
  height: 100vh;
}

.back {
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

.auth-form {
  width: 270px;
}

.auth-form button {
  width: 250px;
}

.form-group {
  width: 100%;
  height: 45px;
  margin: 5px 0;
  text-align: center;
}

form {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

form input {
  width: 100%;
  height: 45px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.575);
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  text-align: center;
}

form a {
  font-size: 14px;
}

form .button {
  margin-top: 10px;
}

form p {
  font-size: 14px;
  margin: 15px 0;
}

.agree {
  font-size: 12px;
  text-align: center;
  margin: 50px 0 20px;
}

.agree a {
  opacity: 1;
  font-size: inherit;
}

.agree-text {
  margin: 0 10px;
  text-align: left;
  font-size: 13px;
}

.agree-text p {
  margin: 10px 0;
}

.agree-text li {
  margin-left: 10px;
  list-style: none;
}

.invalid-feedback * {
  color: red;
  font-size: 12px;
  font-weight: 300;
}

.restore-pass {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.checkbox {
  margin-bottom: 40px;
}

.checkbox input {
  width: 15px;
  height: auto;
  margin-top: 20px;
}

.checkbox label {
  font-size: 14px;
}

