@charset "UTF-8";

.personal {
  margin-top: 20px;
}

.contact {
  display: flex;
  margin-top: 15px;
  border: 1px solid #ffcc00;
  width: 450px;
  height: 150px;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.contact svg {
  width: 30px;
}

.contact p {
  font-size: 14px;
}

.contact h3 {
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 22px;
}

.links {
  width: 100%;
  margin-top: 20px;
  font-size: 13px;
}

.links a {
  margin-right: 5px;
}

.order-block {
  width: 320px;
}

.order {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  padding: 20px 0px;
}

.order * {
  margin: 0;
}

.order .num {
  font-size: 12px;
}

.order .num .id {
  font-size: 14px;
  margin-bottom: 5px;
}

.order .goods {
  font-size: 12px;
  width: 200px;
}

.order .goods li {
  list-style: none;
  margin-bottom: 3px;
}

.order .cost {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.order .cost div {
  margin-bottom: 4px;
}

.order .cost span {
  opacity: 0.5;
}

.order .cost a,
.order .cost .pay-button {
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  background-color: #FFCC00;
  padding: 2px 10px;
}

.status {
  margin-top: 10px;
  font-weight: 300;
}

.wait {
  color: green;
}

.wait:after {
  content: "\412   \43E\447\435\440\435\434\438   \43D\430   \43F\435\447\430\442\44C";
}

.print {
  color: green;
}

.print:after {
  content: "\412   \43F\435\447\430\442\438";
}

.ready {
  color: green;
}

.ready::after {
  content: "\413\43E\442\43E\432   \43A   \432\44B\434\430\447\438";
}

.shiped {
  color: green;
}

.shiped::after {
  content: "\41E\442\43F\440\430\432\43B\435\43D";
}

.finished {
  color: orange;
}

.finished::after {
  content: "\417\430\432\435\440\448\435\43D";
}

.closed {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .contact {
    width: 250px;
  }

  .contact svg {
    width: 20px;
  }

  .personal {
    margin: 20px 10px 0 10px;
  }

  .order {
    font-size: 12px;
    padding: 10px;
  }

  .goods {
    font-size: 11px;
  }

  .cost {
    width: 90px;
    font-size: 16px;
  }

  .cost a {
    font-size: 12px;
  }
}

