.promo-video-block {
  width: 330px;
  margin: 20px auto;
}

.promo-video-block video {
  width: 100%;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.button-block {
  display: flex;
}

.big-button {
  margin: 0 7px;
  border: 1px solid #bebbbb;
  border-radius: 12px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.big-button div {
  padding: 5px;
}

.big-button p {
  font-size: 13px;
  font-weight: 300;
  margin-top: 8px;
}

.big-button svg {
  height: 32px;
}

a.big-button {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 30px;
  }

  .promo-video-block {
    min-width: 0;
    width: 90%;
    max-width: 50vh;
  }

  .big-button {
    width: 85px;
    height: 85px;
  }

  .big-button p {
    font-size: 12px;
  }
}

@media (max-device-width: 330px) {
  .container {
    margin-bottom: 30px;
  }

  .big-button {
    margin: 5px;
    width: 80px;
    height: 80px;
  }

  .big-button p {
    font-size: 11px;
  }
}

@media screen and (max-height: 560px) {
  .promo-video-block {
    max-width: none;
    width: 330px;
  }
}

