body,
.container {
  overflow: hidden !important;
}

.promo-video-block {
  margin: 20px auto;
  margin-top: 0;
  width: 320px;
}

.promo-video-block video {
  width: 100%;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

