body,
.container {
  overflow: hidden !important;
}

.promo-video-block {
  margin: 20px 0 35px;
  margin-top: 0;
}

.promo-video-block video {
  width: 100%;
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
}

